.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    position: relative;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
}

.logo {
    font-family: Montaga, serif;
    color: black;
    font-size: 1.5em;
    display: flex;
    align-items: center;
}

.logo-image {
    width: 15%;
    height: 15%;
}

.logo-text {
    padding-top: 2%;
    font-size: 3vw;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    white-space: nowrap;
    margin-right: 2vw;
}

.nav-links li {
    margin: 0 2vw;
}

.nav-links a {
    padding: .5vw;
    color: black;
    text-decoration: none;
}

.nav-links a:hover {
    background-color: #f1f1f1;
}

.dropdown-menu {
    position: absolute;
    list-style: none;
    padding: 0;
    margin: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
}

.dropdown-menu li {
    margin: 0;
}

.dropdown-menu a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: black;
}

.dropdown-menu a:hover {
    background-color: #f1f1f1;
}

.dropdown-button {
    display: none;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .navbar {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 4%;
    }

    .logo {
        font-size: 1.2em;
        margin-bottom: 10px;
    }

    .logo-text {
        font-size: 4vw;
    }

    .nav-links {
        display: none;
    }

    .dropdown-button {
        display: block;
        background: none;
        border: none;
        font-size: 1.2em;
        color: black;
        cursor: pointer;
        padding: 0;
    }

    .dropdown-menu {
        margin-top: 0;
        margin-right: 1vw;
        position: absolute;
        display: inline-block;
        background-color: white;
    }

    .nav-links li {
        margin: 5px 0;
    }
}

@media (max-width: 480px) {
    .navbar {
        padding: 5%;
    }

    .logo {
        font-size: 1em;
    }

    .logo-image {
        width: 20%;
        height: 20%;
    }

    .logo-text {
        font-size: 5vw;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-button {
        font-size: 1.5em;
    }

    .dropdown-menu a {
        font-size: 3vw;
    }

    .nav-links li {
        margin: 8px 0;
    }
}
